body {
  margin: 0;
  font-family: "Lato", sans-serif;
  background-image:linear-gradient(grey, lightgrey);
  background-repeat: no-repeat;
}

.layout {
  display: grid;
  grid-template-areas: 'top top'
    'side content';
  grid-template-columns: 200px 1fr;
  grid-template-rows: 100px 1fr;
  height: 100vh;
}

.top {
  grid-area: top;
  padding-top: 20px;
  padding-left: 20%;
}

.top a {
  padding: 6px 8px 6px 8px;
  font-weight: bold;
  font-family: 'Lobster', cursive;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  float: left;
  text-align: center;
}

.side {
  grid-area: side;
}

iframe {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  overflow-y: auto;
  overflow-x: hidden;
}

.side img {
  margin-left: 10px;
  width: 25px;
  height: auto;
  vertical-align: middle;
}

.training img {
  vertical-align: middle;
}

.side t {
  margin-left: 10px;
}

.top a:hover {
  color: #f1f1f1;
}

.side a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 10px;
  color: black;
  display: block;
}

.resources img {
  width: 25px;
  height: auto;
  vertical-align: middle;
}

/* Author: Kenneth Perkins
Date:   Dec 23, 2020
Taken From: https://www.programmingnotes.org/ */

.divider-content {
  color: white;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  font-size: 13px;
  font-weight: 600;
  line-height: 15px;
  margin: 0 18px;
  text-transform: uppercase;
}

.divider-line {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  background-color: #dbdbdb;
  height: 1px;
  position: relative;
  top: .45em;
}

.divider {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  display: flex;
}

.submitButton {
  background-image: url(../static/images/board.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /* put the height and width of your image here */
  height: 50px;
  width: 200px;
  border: none;
}

.troopColumns {
  column-count: 2;
}

.powersColumns {
  column-count: 2;
  column-width: 100px;
}

.info {
  color: white;
  text-align: center;
  font-size: 10px;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}