<div>Icons made by <a href="https://www.flaticon.com/authors/nikita-golubev" title="Nikita Golubev">Nikita Golubev</a>,
    <a href="https://www.freepik.com" title="Freepik">Freepik</a>, <a
        href="https://www.flaticon.com/authors/dinosoftlabs" title="DinosoftLabs">DinosoftLabs</a>
    from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
</div>

https://game-icons.net/1x1/kier-heyl/elf-helmet.html
https://game-icons.net/1x1/skoll/stiletto.html
https://game-icons.net/1x1/lorc/spears.html
https://game-icons.net/1x1/lorc/spear-hook.html
https://game-icons.net/1x1/delapouite/bow-arrow.html
https://game-icons.net/tags/shield.html
https://game-icons.net/1x1/delapouite/viking-shield.html
https://game-icons.net/1x1/lorc/boots.html

https://creativecommons.org/licenses/by/3.0/