<div>Icons made by <a href="https://www.flaticon.com/authors/nikita-golubev" title="Nikita Golubev">Nikita Golubev</a>,
    <a href="https://www.freepik.com" title="Freepik">Freepik</a>, <a
        href="https://www.flaticon.com/authors/dinosoftlabs" title="DinosoftLabs">DinosoftLabs</a>
    from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
</div>
<br>
https://game-icons.net/1x1/kier-heyl/elf-helmet.html<br>
https://game-icons.net/1x1/skoll/stiletto.html<br>
https://game-icons.net/1x1/lorc/spears.html<br>
https://game-icons.net/1x1/lorc/spear-hook.html<br>
https://game-icons.net/1x1/delapouite/bow-arrow.html<br>
https://game-icons.net/tags/shield.html<br>
https://game-icons.net/1x1/delapouite/viking-shield.html<br>
https://game-icons.net/1x1/lorc/boots.html<br>

https://creativecommons.org/licenses/by/3.0/