<!DOCTYPE html>
<html>

<head>
    <title>
        Empty <%= title.toLowerCase() %>
    </title>
</head>

<body>

    There is no <%= title.toLowerCase() %> here yet!

        <form action="/<%= title.toLowerCase().replace(/ /g, '') %>/<%= resourceId %>/establish">
            <input type="submit" value="Establish!">
        </form>

        <a href="/town">Town</a> <a href="/land">Land</a> <a href="/logout">Log out</a>

</body>

</html>