<!DOCTYPE html>
<html>

<head>
    <title>
        Empty <%= title.toLowerCase() %>
    </title>
</head>

<body>

    There is no <%= title.toLowerCase() %> here yet!<br><br>

        <form action="/land/<%= title.toLowerCase().replace(/ /g, '') %>/<%= resourceId %>/establish">
            <input type="submit" value="Establish!">
        </form>


</body>

</html>