<!DOCTYPE html>
<html>

<head>
    <title>
        Land
    </title>
</head>

<body>


    Farm level: <%= farmLevel %>

        <form action="/farm/<%= farmId %>/upgrade">
            <input type="submit" value="Upgrade">
        </form>

</body>

</html>