<!DOCTYPE html>
<html>

<head>
    <title>Hej</title>
  
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>

   <script>
    
    //use wss in production
    const socket = io("ws://localhost:3000");



</script>
 
<%= ejsvalue %>

    Hej

</body>

</html>