<!DOCTYPE html>
<html>

<head>
    <title>Index</title>

    <link rel="stylesheet" href="static/style.css">

</head>

<body>

    <a href="/login">Login / Sign up</a>
 

</body>

</html>