<!DOCTYPE html>
<html>

<head>
    <title>Index</title>


</head>

<body>

    <% if (authenticated) { %>
        <a href="/logout">Log out</a>
    <% } else { %>
        <a href="/login">Login</a>
    <% } %>

</body>

</html>