<!DOCTYPE html>

<head>
    <title>Land</title>
</head>
<html>

<body>
    <img src="../static/images/lands.jpg" usemap="#image-map">

    <map name="image-map">
        <area target="" alt="Lumber camp 1" title="Lumber camp 1" href="/land/lumbercamp/0" coords="47,250,107,301"
            shape="rect">
        <area target="" alt="Lumber camp 2" title="Lumber camp 2" href="/land/lumbercamp/1" coords="738,54,786,3"
            shape="rect">
        <area target="" alt="Lumber camp 3" title="Lumber camp 3" href="/land/lumbercamp/2" coords="383,685,329,632"
            shape="rect">
        <area target="" alt="Lumber camp 4" title="Lumber camp 4" href="/land/lumbercamp/3" coords="560,579,615,638"
            shape="rect">
        <area target="" alt="Farm 1" title="Farm 1" href="/land/farm/0" coords="159,234,242,326" shape="rect">
        <area target="" alt="Farm 2" title="Farm 2" href="/land/farm/1" coords="93,492,211,588" shape="rect">
        <area target="" alt="Farm 3" title="Farm 3" href="/land/farm/2" coords="369,498,492,418" shape="rect">
        <area target="" alt="Farm 4" title="Farm 4" href="/land/farm/3" coords="823,315,967,187" shape="rect">
        <area target="" alt="Quarry 1" title="Quarry 1" href="/land/quarry/0" coords="69,645,138,693" shape="rect">
        <area target="" alt="Quarry 2" title="Quarry 2" href="land/quarry/1" coords="448,262,506,309" shape="rect">
        <area target="" alt="Quarry 3" title="Quarry 3" href="land/quarry/2" coords="561,142,620,185" shape="rect">
        <area target="" alt="Quarry 4" title="Quarry 4" href="land/quarry/3" coords="678,175,622,219" shape="rect">
        <area target="" alt="Iron Mine 1" title="Iron Mine 1" href="/land/ironMine/0" coords="269,56,336,119"
            shape="rect">
        <area target="" alt="Iron Mine 2" title="Iron Mine 2" href="/land/ironMine/1" coords="49,155,2,208"
            shape="rect">
        <area target="" alt="Iron Mine 3" title="Iron Mine 3" href="/land/ironMine/2" coords="338,225,275,284"
            shape="rect">
        <area target="" alt="Gold Mine 1" title="Gold Mine 1" href="/land/goldMine/0" coords="713,595,778,660"
            shape="rect">
        <area target="" alt="Gold Mine 2" title="Gold Mine 2" href="/land/goldMine/1" coords="897,488,839,543"
            shape="rect">
        <area target="" alt="Town" title="Town" href="/town" coords="650,364,528,461" shape="rect">
    </map>

</body>

</html>