<!DOCTYPE html>
<html>

<head>
    <title>
        Land
    </title>
</head>

<body>

    <% for (var i=0; i < farms; i++ ) { %>
        <a href="/farm/<%= i %>">Farm</>
            <% } %>

</body>

</html>