<!DOCTYPE html>
<html>

<head>
    <title>Log</title>
</head>

<body>

<% for (var i=0; i < result.length; i++ ) { %>
    <a href="/mailbox/log/<%= result[i]._id %>"><%= result[i].attacker %> attacked <%= result[i].defender%></a> at <%= result[i].time %> <br>
<% } %>
<br>

</body>

</html>