<!DOCTYPE html>
<html>

<head>
    <head>
        <title>Mailbox</title>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    </head>
    
</head>

<body>

    <h1>Mailbox</h1> 

    <form action="/mailbox/log">
        <input type="submit" class="submitButton" value="Attack log">
    </form>
    <form action="/mailbox/spyLog">
        <input type="submit" class="submitButton" value="Spy log">
    </form>
    <form action="/messages/inbox">
        <input type="submit" class="submitButton" value="Inbox">
    </form>
    <form action="/messages/new">
        <input type="submit" class="submitButton" value="Send message">
    </form>

    <form action="/search/random">
        <input type="submit" class="submitButton" value="Find random player">
    </form>
    
    <form action="/search" method="POST">
        <label for="searchName">Name:</label>
        <input type="text" id="searchName" name="searchName" minlength=5 maxlength=15 required>
        <input type="submit" class="submitButton" value="Search">
    </form>


</body>

</html>