<!DOCTYPE html>
<html>

<head>
    <title>
        Search
    </title>
</head>

<body>

    <a href="/mailbox/log">Attack log</a><br>
    <br>
    <form action="/search" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">
        <input type="submit" value="Search">
    </form>
    <br>
    <form action="/search/random">
        <input type="submit" value="Random">
    </form>
    <br>
    <a href="/town">Town</a> <a href="/land">Land</a> <a href="/logout">Log out</a>

</body>

</html>