<!DOCTYPE html>
<html>

<head>
    <title>
        <%= username %>
    </title>
</head>

<body>

    <%= username %>

        <form action="/profile/<%= username %>/attack">
            <input type="submit" value="Attack">
        </form>

        <a href="/town">Town</a> <a href="/land">Land</a> <a href="/logout">Log out</a>

</body>

</html>