<!DOCTYPE html>
<html>

<head>
    <title>
        <%= username %>
    </title>
</head>

<body>

    <%= username %><br><br>

        <form action="/profile/<%= username %>/attack">
            <input type="submit" value="Attack">
        </form>

        <form action="/mailbox/send/<%=username%>">
            <input type="submit" value="Message">
        </form>


</body>

</html>