<!DOCTYPE html>
<html>

<head>
    <title>
        <%= username %>
    </title>
</head>

<body>

    <%= username %>

        <form action="/profile/<%= username %>/attack">
            <input type="submit" value="Attack">
        </form>

</body>

</html>