<!DOCTYPE html>
<html>

<head>
    <title>
        <%= profileUser.username %>
    </title>
</head>

<body>

    <%= profileUser.username %><br><br>

        <form action="/profile/<%= profileUser.username %>/attack" method="post">
            <input type="submit" value="Attack">
        </form>

        <form action="/messages/new/<%=profileUser.username%>">
            <input type="submit" value="Message">
        </form>


</body>

</html>