<!DOCTYPE html>
<html>

<body>


    <!-- Registration date -->

    Username: <%= profileUser.username %><br>

        Registered email: <%= profileUser.email %><br>
            <br>

            Delete account?<br>
            <br>
            <button id="delete" onclick="deleteUser()">Delete</button>

            <p id="demo"></p>


            <script type="text/javascript" src="../static/js/delete.js"></script>

</body>

</html>