<!DOCTYPE html>
<html>
<style>
  body {
    margin: 0;
  }

  .layout {
    display: grid;
    grid-template-areas: 'top top'
      'side content';
    grid-template-columns: 200px 1fr;
    grid-template-rows: 100px 1fr;
    height: 100vh;
  }

  .top {
    background: red;
    grid-area: top;
  }

  .side {
    background: blue;
    grid-area: side;
  }

  iframe {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    overflow-y: auto;
    overflow-x: hidden;
  }
</style>

<body>
  <div class="layout">
    <div class="top">top</div>
    <div class="side">side</div>
    <iframe src="/test2"></iframe>
  </div>
</body>

</html>