<!DOCTYPE html>
<html>

<head>
    <title>
        Town
    </title>
</head>

<body>

    <a href="/town/barracks" title="barracks">Barracks</a><br>
    <a href="/town/blacksmith" title="blacksmith">Blacksmith</a><br>
    <a href="/town/trainingfield" title="trainingfield">Training field</a><br>
    <a href="/mailbox" title="mailbox">Mail box</a><br>
    <a href="/town/stables" title="stables">Stables</a><br>
    <a href="/town/wall" title="wall">Wall</a><br>
    <a href="/town/siegeworkshop" title="siegeworkshop">Siege workshop</a><br>

    <a href="/land" title="land">Land</a><br>

</body>

</html>