<!DOCTYPE html>
<html>

<head>
    <title>Wall</title>
</head>

<body>

    <!-- TODO server check barrack exists and has levels-->

    Wall level: <%= wall %> <br>
        <br>
        Walls boosts your defenses and hides part of your resources from enemy raiders.<br>

        <% if (wall <=19){ %>
            <br>
            <form action="/town/wall/upgrade" method="POST">
                <input type="submit" value="Upgrade">
            </form>
            <% } else { %>
                <br>
                The walls are already at max level!
                <% } %>

</body>

</html>