<!DOCTYPE html>
<html>

<head>
    <title>
        Write message
    </title>
</head>

<body>

    <form action="/mailbox/send/new" method="POST">
        <label for="recipient">Name:</label>
        <input type="text" id="recipient" name="recipient" value="<%=recipient%>"><br>
        <label for="message">Message:</label>
        <textarea id="message" name="message" rows="4" cols="50"></textarea><br>
        <input type="submit" value="Send">
    </form>

</body>

</html>