body {
    font-family: "Lato", sans-serif;
  }

  .sidenav {
    height: 100%;
    width: 12%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: darkgrey;
    overflow-x: hidden;
    padding-top: 20px;
  }

  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
  }

  .topnav {
    margin-left: 12%;
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: darkgrey;
    overflow-x: hidden;
    padding-top: 20px;

  }

  .topnav a {
    padding: 6px 8px 6px 8px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    float: left;
  }

  .sidenav a:hover {
    color: #f1f1f1;
  }

  .topnav a:hover {
    color: #f1f1f1;
  }

  .sidenav t {
    margin-left: 10px;
  }

  .sidenav img {
    width: 25px;
    height: auto;
    vertical-align: middle;
  }

  .main {
    margin-left: 12%;
    /* Same as the width of the sidenav */
    margin-top: 120px;
    font-size: 28px;
    /* Increased text to enable scrolling */
    padding: 0px 10px;
  }

  .main iframe {
    position: absolute; 
    width: 80%; 
    height: 80%; 
  }

  /* Solid border */
  hr.solid {
    border-top: 3px solid white;
  }